<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Responsive Side Navigation Bar</title>
	<link rel="stylesheet" href="../styles/cssConsultar.css">
    <link rel="stylesheet" href="../styles/cssCadastrarCliente.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="scripts/jqueryComponentes.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">Menu</div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i></a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="consultar.html">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Consultar Clientes</span></a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-file-video"></i></span>
          <span class="title">Consultar Veículos</span>
          </a></li>
        <li><a href="#" class="active">
          <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
          <span class="title">Cadastrar novo Cliente</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-blog"></i></span>
          <span class="title">Cadastrar novo Veículo</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <span class="title">Nature</span>
          </a></li>
    </ul>
  </div>
  
  <div class="main_container">
    <div class="container">
        <header>Cadastro de Clientes</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Perfil Pessoal</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Nome Completo</label>
                            <input type="text" placeholder="Nome Completo" required>
                        </div>
                        <div class="input-field">
                            <label>Data de Nascimento</label>
                            <input type="date" placeholder="Data Nascimento" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="seuEmail@" required>
                        </div>
                        <div class="input-field">
                            <label>Número Telefone</label>
                            <input type="number" placeholder="(xx) xxxx-xxxx" required>
                        </div>
                        <div class="input-field">
                            <label>CPF</label>
                            <input type="text" placeholder="CPF" required>
                        </div>
                             <input type="text" placeholder="Enter your ccupation" required>
                        </div>
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Endereço</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Cidade</label>
                            <input type="text" placeholder="Cidade" required>
                        </div>
                        <div class="input-field">
                            <label>Bairro</label>
                            <input type="text" placeholder="Bairro" required>
                        </div>
                        <div class="input-field">
                            <label>N° Rua</label>
                            <input type="text" placeholder="Enter issued state" required>
                        </div>
                        <div class="input-field">
                            <label>N° Casa</label>
                            <input type="date" placeholder="Enter your issued date" required>
                        </div>
                        <div class="input-field">
                            <label>Observação</label>
                            <input type="date" placeholder="Observação" required>
                        </div>
                    </div>    <div class="input-field">
                            <label>Occupation</label>
                   
                    <button class="nextBtn">
                        <span class="btnText">Cadastrar</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>
            <div class="form second">
                <div class="details address">
                    <span class="title">Address Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Address Type</label>
                            <input type="text" placeholder="Permanent or Temporary" required>
                        </div>
                        <div class="input-field">
                            <label>Nationality</label>
                            <input type="text" placeholder="Enter nationality" required>
                        </div>
                        <div class="input-field">
                            <label>State</label>
                            <input type="text" placeholder="Enter your state" required>
                        </div>
                        <div class="input-field">
                            <label>District</label>
                            <input type="text" placeholder="Enter your district" required>
                        </div>
                        <div class="input-field">
                            <label>Block Number</label>
                            <input type="number" placeholder="Enter block number" required>
                        </div>
                        <div class="input-field">
                            <label>Ward Number</label>
                            <input type="number" placeholder="Enter ward number" required>
                        </div>
                    </div>
                </div>
                <div class="details family">
                    <span class="title">Family Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Father Name</label>
                            <input type="text" placeholder="Enter father name" required>
                        </div>
                        <div class="input-field">
                            <label>Mother Name</label>
                            <input type="text" placeholder="Enter mother name" required>
                        </div>
                        <div class="input-field">
                            <label>Grandfather</label>
                            <input type="text" placeholder="Enter grandfther name" required>
                        </div>
                        <div class="input-field">
                            <label>Spouse Name</label>
                            <input type="text" placeholder="Enter spouse name" required>
                        </div>
                        <div class="input-field">
                            <label>Father in Law</label>
                            <input type="text" placeholder="Father in law name" required>
                        </div>
                        <div class="input-field">
                            <label>Mother in Law</label>
                            <input type="text" placeholder="Mother in law name" required>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>
  </div>
</div>
	
</body>
</html>