<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Responsive Side Navigation Bar</title>
	<link rel="stylesheet" href="../styles/cssConsultar.css">
    <link rel="stylesheet" href="../styles/cssCadastrarCliente.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../styles/sweetAlert/cdn.jsdelivr.net_npm_sweetalert2@11.7.10_dist_sweetalert2.min.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="scripts/jqueryComponentes.js"></script>
   
	<script>
        try{
            $(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
        }catch{
            console.log("ERRO AQUI")
        }
		
	</script>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">Menu</div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i></a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="consultar.html">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Consultar Clientes</span></a></li>
        <li><a href="consultar.html" id="consultar">
          <span class="icon"><i class="fas fa-file-video"></i></span>
          <span class="title">Consultar Veículos</span>
          </a></li>
        <li><a href="#" class="active">
          <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
          <span class="title">Cadastrar novo Cliente</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-blog"></i></span>
          <span class="title">Cadastrar novo Veículo</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <span class="title">Nature</span>
          </a></li>
    </ul>
  </div>
  
  <div class="main_container">
    <div class="container">
        <header>Cadastro de Clientes</header>
        <form id="cadastrar">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Perfil Pessoal</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Nome Completo</label>
                            <input type="text" id="nome" placeholder="Nome Completo" required>
                        </div>
                        <div class="input-field">
                            <label>Data de Nascimento</label>
                            <input type="date" id="dataNasc" placeholder="Data Nascimento" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="input-field">
                            <label>Número Telefone</label>
                            <input type="tel" id="telefone" placeholder="xxxx-xxxx" required>
                        </div>
                        <div class="input-field">
                            <label>CPF</label>
                            <input type="text" id="cpf" placeholder="CPF" required>
                        </div>
                        <div class="input-field">
                            <label>RG</label>
                             <input type="text" id="rg" placeholder="RG" required>
                        </div>
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Endereço</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Cidade</label>
                            <input type="text" id="cidade" placeholder="Cidade" required>
                        </div>
                        <div class="input-field">
                            <label>Bairro</label>
                            <input type="text" id="bairro" placeholder="Bairro" required>
                        </div>
                        <div class="input-field">
                            <label>Rua</label>
                            <input type="text" id="rua" placeholder="Rua" required>
                        </div>
                        <div class="input-field">
                            <label>Casa</label>
                            <input type="text" id="casa" placeholder="Casa" required>
                        </div>
                        <div class="input-field">
                            <label>Referencia</label>
                            <input type="text" id="refen" placeholder="Referencia" required>
                        </div>
                        <div class="input-field">
                            <label>Observação</label>
                            <input type="text" id="obs" placeholder="Observação" required>
                        </div>
                    </div>    
                   
                    
                </div> 
                <button type="submit" id="cadastroButton">
                    Cadastrar
                </button>
            </div>
         
        </form>
    </div>
  </div>
</div>
<script src="../styles/sweetAlert/cdn.jsdelivr.net_npm_sweetalert2@11.7.10_dist_sweetalert2.all.min.js"></script>
<script src="scripts/cadastrarCliente.js"></script>
</body>
</html>